/* alta-empleado.component.css */

div {
  margin: 20px;
}
.container {
  width: 400px;
  margin: 0 auto;
}
form {
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}
h2 {
  color: #333;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
