<p>contacto works!</p>
<!--  <div>

  <form (ngSubmit)="contacto()" #altaForm="ngForm">
    <label for="nombre"><span style="color: #ffffff;">Nombre:</span></label>
    <input type="text" id="nombre" name="nombre" required placeholder="Ingresa tu nombre">

    <label for="correo"><span style="color: #ffffff;">Correo electrónico:</span></label>
    <input type="email" id="correo" name="correo" required placeholder="Ingresa tu correo">

    <label for="mensaje"><span style="color: #ffffff;">Mensaje:</span></label>
    <textarea id="mensaje" name="mensaje" required placeholder="Ingresa tu mensaje"></textarea>

    <button type="enviar">Enviar</button>
    <button type="reset" onclick="document.getElementById('datos-enviados').style.display = 'none'">Reiniciar campos</button>
  </form>

</div> -->
