<p>cliente-venta works!</p>
<!--<form (ngSubmit)="registrarVenta()" #ventaForm="ngForm">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="venta.nombre" required>
  </div>
  <div>
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" [(ngModel)]="venta.categoria" required>
  </div>
  <div>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" [(ngModel)]="venta.precio" required>
  </div>
  <div>
    <label for="anticipo">Anticipo:</label>
    <input type="number" id="anticipo" name="anticipo" [(ngModel)]="venta.anticipo" required>
  </div>
  <div>
    <label for="fechaEntrada">Fecha de Entrada:</label>
    <input type="date" id="fechaEntrada" name="fechaEntrada" [(ngModel)]="venta.fechaEntrada" required>
  </div>
  <div>
    <label for="fechaSalida">Fecha de Salida:</label>
    <input type="date" id="fechaSalida" name="fechaSalida" [(ngModel)]="venta.fechaSalida" required>
  </div>
  <button type="submit">Registrar Venta</button>
</form>-->
