<!-- ver-empleados.component.html -->

<h2>Lista de Empleados</h2>


<div class="empleados-container">
  <mat-card *ngFor="let empleado of empleados" class="empleado-card">
    <mat-card-header>
      <mat-card-title>Nombre: {{ empleado.nombre.toUpperCase() }}</mat-card-title>
      <mat-card-subtitle>Rol: {{ empleado.rol }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Contacto: {{ empleado.contacto }}</p>
      <!-- Puedes agregar más campos según la estructura de tu objeto empleado -->
    </mat-card-content>
  </mat-card>
</div>

