<p>reparaciones works!</p>
<!-- formulario.component.html
<form (ngSubmit)="guardarInformacion()">
  <label>Fecha de Solicitud:</label>
  <input type="date" [(ngModel)]="ordenTrabajo.FechaSolicitud" required>

  <label>Descripción del Problema:</label>
  <textarea [(ngModel)]="detalleReparacion.DescripcionProblema" required></textarea>

  <label>Fecha de Facturación:</label>
  <input type="date" [(ngModel)]="facturaPago.FechaFacturacion" required>


  <button type="submit">Guardar</button>
</form>
   -->
