
<!-- formulario.component.html
<form (ngSubmit)="guardarInformacion()">
  <label>Fecha de Solicitud:</label>
  <input type="date" [(ngModel)]="ordenTrabajo.FechaSolicitud" required>

  <label>Descripción del Problema:</label>
  <textarea [(ngModel)]="detalleReparacion.DescripcionProblema" required></textarea>

  <label>Fecha de Facturación:</label>
  <input type="date" [(ngModel)]="facturaPago.FechaFacturacion" required>


  <button type="submit">Guardar</button>
</form>
   -->
<h2>Listado de Reparaciones en el Hospital de Calzado</h2>

<div class="reparaciones-lista">
  <div class="reparacion">
    <img src="./assets/imagenes/restauracioncalzado.jpg" alt="Restauración de Calzado" class="imagen-reparacion">
    <div class="descripcion-reparacion">
      <h3>Restauración de Calzado</h3>
      <p>Descripción: Servicio de restauración de calzado para devolverle su aspecto original y funcionalidad.</p>
    </div>
  </div>

  <div class="reparacion">
    <img src="./assets/imagenes/restauracionaccesorios.jpg" alt="Restauración de Accesorios" class="imagen-reparacion">
    <div class="descripcion-reparacion">
      <h3>Restauración de Accesorios</h3>
      <p>Descripción: Servicio de restauración de accesorios para complementar diferentes tipos de calzado, cintos, bolsas entre otros accesorios</p>
    </div>
  </div>

  <div class="reparacion">
    <img src="./assets/imagenes/pintadosgeneraless.jpg" alt="Pintados Generales" class="imagen-reparacion">
    <div class="descripcion-reparacion">
      <h3>Pintados Generales</h3>
      <p>Descripción: Servicio de pintado general para dar un nuevo aspecto a los zapatos,bolsas,huaraches etc.</p>
    </div>
  </div>

</div>
